@font-face {
	font-family: 'Noir Pro';
	src: url('assets/css/fonts/NoirPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro';
	src: url('assets/css/fonts/NoirPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro';
	src: url('assets/css/fonts/NoirPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro Semi';
	src: url('assets/css/fonts/NoirPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
html {
	font-size: 16px;
}
#bannerCarousel .carousel-control-next, #bannerCarousel .carousel-control-prev {
	width: 4%;
}
#bannerCarousel .bg-anime {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -2;
}
#bannerCarousel .bg-anime::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000d0;
	pointer-events: none;
}
#bannerCarousel .slider-cont {
	display: table-cell;
	height: 43.75rem;
	vertical-align: middle;
}
#bannerCarousel .slider-cont img {
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
}
#bannerCarousel .title-anime {
	font-size: 3.9rem;
	font-family: 'Noir Pro' !important;
	font-weight: 900 !important;
}
#bannerCarousel .anime-descrip {
	font-size: 1.24rem;
}
#bannerCarousel .anime-temporada {
	font-family: 'Noir Pro' !important;
	font-size: 2rem;
	text-transform: uppercase;
}
#bannerCarousel .anime-play {
	border-radius: 10px;
	margin-top: 20px;
	font-size: 1.9rem !important;
	font-family: 'Noir Pro' !important;
	font-weight: bold !important;
	line-height: 48px !important;
	text-align: center;
	padding: 0.5rem 5rem !important;
	text-transform: uppercase;
	max-width: max-content;
}
@media (max-width:991px) {
	html {
		font-size: 15px;
	}
	#bannerCarousel .image-anime {
		display: none;
	}
	#bannerCarousel .anime-play {
		margin: auto;
		max-width: 80%;
	}
}
@media (max-width:600px) {
	html {
		font-size: 13px;
	}
	#bannerCarousel .row > [class*=col] {
		padding: 15px 31px !important;
	}
}
@media (max-width:405px) {
	#bannerCarousel .row > [class*=col] {
		padding: 15px 31px !important;
	}
}
@media (min-width:1200px) {
	#bannerCarousel .container {
		max-width: 1140px;
	}
}
@media (min-width:1386px) {
	#bannerCarousel .container {
		max-width: 1309px;
	}
}
