#chatbox {
	width: 100%;
	max-width: 37.5rem;
	margin: 0 auto;
	background-color: #000000;
	border-radius: .5rem;
    * {
        font-size: 0.9rem !important;
    }
    .divisor{
        height: 1px;        
        background-color: rgba(255, 255, 255, 0.562);
        margin: 0 1.5rem;
    }
    #messages, #input-container, #nombre-chatbot{
        padding: 0.8rem 1.5rem;
    }
	#messages {
		list-style-type: none;
		margin: 0;
		height: 18.75rem;
        overflow-y: auto;
		.message {
			padding: .625rem 1rem;
			margin-bottom: .625rem;
			border-radius: .5rem;

			&.user-message {
				background-color: #535353;
				max-width: 80%;
				width: fit-content;
				margin-left: auto;
                line-height: 0.9rem;
			}
			&.bot-message {
				background-color: #1c1c1c;
				max-width: 80%;
				width: fit-content;
                a{
                    color: $c-primario;
                }
			}
		}
	}
	#input-container {
		display: flex;
		input {
			flex-grow: 1;
			padding: .625rem;
			border-radius: .5rem;
            border: none;
		}
		button {
			padding: .625rem;
			background-color: $c-primario;
            line-height: 1;
			color: black;
            font-weight: bold;
			border: none;
			border-radius: .5rem;
			cursor: pointer;
			margin-left: .3125rem;
		}
	}
}
