@charset "UTF-8";
/*-------------------------
    Fuentes
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;family=Jost:wght@400;500;600;700;800&amp;family=Open+Sans:wght@400;500;600;700;800&amp;display=swap");

@font-face {
	font-family: 'Noir Pro';
	src: url('/assets/css/fonts/NoirPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro';
	src: url('/assets/css/fonts/NoirPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro';
	src: url('/assets/css/fonts/NoirPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Noir Pro Semi';
	src: url('/assets/css/fonts/NoirPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}