.custom-select-wrapper {
	position: relative;
	display: inline-block;
}
.dropdown-toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.8rem;
}
.custom-select-selected{
	min-width: 100px;
}
.custom-select-options {
	display: none;
	background-color: $gray2;
	font-size: 1.05rem;
	width: max-content;
	border-radius: 12px;
	margin-top: .625rem;
	padding: 1rem 2.4rem;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.397);
}
.custom-select-option {
	padding: 0.5rem 0;
	min-width: 6.875rem;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
}
.custom-select-option:hover {
	color: $c-primario;
}
