/* @c-red FONTSIZES, MARGIN Y FONT-H */

  .f-18 {
    font-size: 1.125rem; /* 18px */
  }

  .f-24 {
    font-size: 1.5rem; /* 24px */
  }
  
  .f-28 {
    font-size: 1.6rem; /* 28px */
  }
  
  .h-40 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
  }
  .h-40.bold {
    font-weight: 700;
  }
  @media (max-width: 1399px) {
    .h-40 {
      font-size: 38px;
    }
  }
  @media (max-width: 992px) {
    .h-40 {
      font-size: 32px;
    }
  }
  @media (max-width: 768px) {
    .h-40 {
      font-size: 28px;
      letter-spacing: 0.27px;
    }
  }
  @media (max-width: 490px) {
    .h-40 {
      font-size: 24px;
      letter-spacing: 0.27px;
    }
  }
  .h-36 {
    font-family: "Jost", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
  }
  .h-36.font-sec-2 {
    font-family: "Inter", sans-serif;
  }
  .h-36.bold {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    .h-36 {
      font-size: 32px;
    }
  }
  @media (max-width: 767px) {
    .h-36 {
      font-size: 28px;
    }
  }
  @media (max-width: 575px) {
    .h-36 {
      font-size: 23px;
    }
  }
  .h-30 {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
  }
  .h-30.bold {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    .h-30 {
      font-size: 26px;
    }
  }
  @media (max-width: 767px) {
    .h-30 {
      font-size: 21px;
    }
  }
  @media (max-width: 575px) {
    .h-30 {
      font-size: 18px;
    }
  }
  .h-27 {
    font-family: "Jost", sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.54px;
  }
  .h-27.sec {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: -0.27px;
  }
  .h-27.bold {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    .h-27 {
      font-size: 23px;
    }
  }
  @media (max-width: 767px) {
    .h-27 {
      font-size: 21px;
    }
  }
  @media (max-width: 575px) {
    .h-27 {
      font-size: 18px;
      letter-spacing: 0.27px;
    }
  }
  .h-24 {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }
  .h-24.bold {
    font-weight: 700;
  }
  @media (max-width: 992px) {
    .h-24 {
      font-size: 22px;
    }
  }
  @media (max-width: 767px) {
    .h-24 {
      font-size: 20px;
    }
  }
  @media (max-width: 575px) {
    .h-24 {
      font-size: 18px;
    }
  }
  .h-20 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
  }
  .h-20.font-primary {
    font-family: "Jost", sans-serif;
  }
  .h-20.lh-140 {
    line-height: 140%;
  }
  .h-20.light {
    font-weight: 400;
  }
  .h-20.bold {
    font-weight: 700;
  }
  @media (max-width: 1399px) {
    .h-20 {
      font-size: 18px;
    }
  }
  @media (max-width: 992px) {
    .h-20 {
      font-size: 20px;
    }
  }
  @media (max-width: 767px) {
    .h-20 {
      font-size: 18px;
    }
  }
  @media (max-width: 575px) {
    .h-20 {
      font-size: 16px;
    }
  }
  
  .mb-50 {
    margin-bottom: 50px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mb-50 {
      margin-bottom: 44px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mb-50 {
      margin-bottom: 38px;
    }
  }
  @media (max-width: 767px) {
    .mb-50 {
      margin-bottom: 32px;
    }
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  @media (max-width: 1199px) {
    .mb-40 {
      margin-bottom: 32px;
    }
  }
  @media (max-width: 991px) {
    .mb-40 {
      margin-bottom: 28px;
    }
  }
  @media (max-width: 767px) {
    .mb-40 {
      margin-bottom: 22px;
    }
  }
  .mt-32 {
    margin-top: 32px;
  }
  @media (max-width: 1199px) {
    .mt-32 {
      margin-top: 28px;
    }
  }
  @media (max-width: 991px) {
    .mt-32 {
      margin-top: 24px;
    }
  }
  @media (max-width: 767px) {
    .mt-32 {
      margin-top: 20px;
    }
  }
  .mb-32 {
    margin-bottom: 32px;
  }
  @media (max-width: 1199px) {
    .mb-32 {
      margin-bottom: 28px;
    }
  }
  @media (max-width: 991px) {
    .mb-32 {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 767px) {
    .mb-32 {
      margin-bottom: 20px;
    }
  }
  .mb-30 {
    margin-bottom: 1.875rem;
  }
  @media (max-width: 1199px) {
    .mb-30 {
      margin-bottom: 28px;
    }
  }
  @media (max-width: 991px) {
    .mb-30 {
      margin-bottom: 24px;
    }
  }
  @media (max-width: 767px) {
    .mb-30 {
      margin-bottom: 20px;
    }
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  @media (max-width: 1199px) {
    .mb-24 {
      margin-bottom: 22px;
    }
  }
  @media (max-width: 991px) {
    .mb-24 {
      margin-bottom: 22px;
    }
  }
  @media (max-width: 767px) {
    .mb-24 {
      margin-bottom: 20px;
    }
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  @media (max-width: 1199px) {
    .mb-20 {
      margin-bottom: 18px;
    }
  }
  @media (max-width: 991px) {
    .mb-20 {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 767px) {
    .mb-20 {
      margin-bottom: 14px;
    }
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  @media (max-width: 1199px) {
    .mb-16 {
      margin-bottom: 15px;
    }
  }
  @media (max-width: 991px) {
    .mb-16 {
      margin-bottom: 14px;
    }
  }
  @media (max-width: 767px) {
    .mb-16 {
      margin-bottom: 12px;
    }
  }
  .mb-12 {
    margin-bottom: .75rem;
  }
  @media (max-width: 1199px) {
    .mb-12 {
      margin-bottom: 11px;
    }
  }
  @media (max-width: 991px) {
    .mb-12 {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 767px) {
    .mb-12 {
      margin-bottom: 8px;
    }
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .p-40 {
    padding: 2.5rem 0;
  }
  @media (max-width: 1199px) {
    .p-40 {
      padding: 32px 0;
    }
  }
  @media (max-width: 991px) {
    .p-40 {
      padding: 28px 0;
    }
  }
  @media (max-width: 767px) {
    .p-40 {
      padding: 22px 0;
    }
  }
  